body {
  margin: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
}
h1,
h2,
h3,
h4 {
  margin: 0px;
}
h2 {
  text-align: center;
  font-size: 1.3rem;
}
h3 {
  text-align: left;
  padding-top: 1rem;
}
/* Block 1 */
.Block1 {
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
  font-weight: bold;
}
#Headimg {
  height: 25rem;
}

.Page {
  padding: 2vw 10vw;
}
.Block2 {
  display: flex;
  flex-flow: row wrap;
}
ol {
  counter-reset: item;
  padding-inline-start: 1rem;
  width: 25vw;
}
li {
  display: block;
}
li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}
/* Table General Info */
.GenInfo {
  background-color: rgb(233, 233, 247);
  margin: 1rem;
  width: 50vw;
}
.GenInfo tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
}
.GenInfo th {
  text-align: left;
  vertical-align: baseline;
  background-color: turquoise;
  padding: 0.8rem 1rem;
  border: 0.1rem solid black;
}
.GenInfo td {
  border: 0.1rem solid black;
  padding-left: 1rem;
}
/* Content Table */
.Text {
  padding-right: 1rem;
  padding-bottom: 2rem;
}
.Images {
  width: 17vw;
  height: 100%;
  border-radius: 0.5rem;
}
figcaption {
  text-align: center;
  font-size: smaller;
  font-weight: 900;
}

footer {
  padding: 1rem;
  background-color: black;
  font-size: small;
  color: white;
  text-align: center;
}
