/* Evenly space out Block2(flex/flexbox/grid) */
body {
  margin: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
}
h1,
h2,
h3,
h4 {
  margin: 0px 0.5rem;
}
h2 {
  text-align: center;
  font-size: 1.3rem;
}
h3 {
  text-align: left;
  padding-top: 1rem;
}
/* Block 1 */
.Block1 {
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
  font-weight: bold;
}
img {
  height: 25rem;
}

.Page {
  padding: 5vw 10vw;
}

/* Block 2 */
.Block2 {
  display: flex;
  flex-flow: row wrap;
}
/* .Block2 > * {
  flex: 1 1 40vw;
} */
/* Content List*/
ol {
  counter-reset: item;
  padding-inline-start: 1rem;
  width: 25vw;
}
li {
  display: block;
}
li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}
table {
  background-color: rgb(233, 233, 247);
  border: 0.1rem solid black;
  margin: 1rem;
  border-collapse: collapse;
  width: 50vw;
}
th {
  text-align: left;
  vertical-align: baseline;
  background-color: rgb(64, 224, 208);
  padding: 0.5rem 1rem;
  border: 0.1rem solid black;
}
td {
  border: 0.1rem solid black;
  padding-left: 1rem;
}

.Content {
}

iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande"; */
}
