body {
  margin: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
}
h1,
h3 {
  text-align: center;
  margin: 0px;
}
.Block1 {
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
  font-weight: bold;
}
img {
  height: 25rem;
}

.Content {
  padding: 5rem;
}
.Intro {
  display: flex;
}

/* Content List*/
ol {
  counter-reset: item;
  padding-inline-start: 1rem;
}
li {
  display: block;
}
li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}
/* table */
table {
  background-color: rgb(233, 233, 247);
  border: 0.1rem solid black;
  margin: auto 0.1rem;
  border-collapse: collapse;
}
th {
  text-align: left;
  vertical-align: baseline;
  background-color: rgb(64, 224, 208);
  padding: 0.5rem 1rem;
  border: 0.1rem solid black;
}
td {
  border: 0.1rem solid black;
  padding-left: 1rem;
}
.Block2 {
}
